<div class="container">
  <mat-checkbox [checked]="item.isCompleted" color="primary" (change)="toggleIsCompleted()">
  </mat-checkbox>

  <div *ngIf="!isEditing" class="item-title" [ngClass]="{ completed: item.isCompleted }" (dblclick)="enterEditMode()">
    {{item.title}}</div>

  <ng-container *ngIf="isEditing">
    <mat-form-field>
      <input #editInput [formControl]="editableToDo" matInput type="text" (keyup.enter)="editItem()">
      <button matSuffix mat-icon-button (click)="closeEditMode()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>

  <button class="delete-button" matSuffix mat-icon-button (click)="deleteItem()">
    <mat-icon class="delete-icon">delete_forever</mat-icon>
  </button>
</div>