<div class="container">
  <mat-checkbox [checked]="item.isCompleted" color="primary" (change)="toggleIsCompleted()">
  </mat-checkbox>

  <div *ngIf="!isEditing" class="item-title" [ngClass]="{completed: item.isCompleted}" (dblclick)="enterEditMode()">
    <span matTooltip="Dbl click to edit" matTooltipClass="mat-tooltip" matTooltipPosition="above">{{item.title}}</span>
  </div>

  <ng-container *ngIf="isEditing">
    <mat-form-field [ngClass]="{custom_background: isEditing}">
      <input #editInput [formControl]="editableToDo" matInput type="text" (keyup.enter)="editItem()">
      <button matSuffix mat-icon-button matTooltip="Close edit" matTooltipPosition="above" matTooltipClass="mat-tooltip"
        (click)="closeEditMode()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>

  <button class="delete-button" matSuffix mat-icon-button (click)="deleteItem()">
    <mat-icon class="delete-icon">delete_forever</mat-icon>
  </button>
</div>
