.container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  min-height: 56px;
  word-break: break-all;
  border-radius: 5px;
  cursor: move;
  background-color: #2e582e;
}

.delete-icon {
  color: white;
}

.delete-button {
  justify-self: flex-end;
}

.item-title {
  &.completed {
    text-decoration: line-through;
  }

  span {
    &:hover {
      cursor: pointer;
    }
  }
}
