.content {
  display: grid;
  place-items: center;

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 65vw;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    .content-wrapper {
      max-width: 80vw;
    }
  }
}
